/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding:0
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#wrappernav.active{
  transition: 450ms;
  background-color: #fff;
}
#wrappernav .activeText{
  transition: 450ms;
  color: #000 !important;
}

.form-control {
  font-size: 10pt;
  background: transparent;
  transition: 450ms;
}

:focus.form-control {
  box-shadow: none !important;
  border-color: #ffbf00;
  background: rgba(255, 255, 255, 0.50);
}

/* *{
  font-family: 'Roboto', sans-serif
} */
